{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <figure>
                <img src="{{ asset('img_affiche/MGM_Logo.jpg') }}"  alt="" srcset="">
            </figure>
        </div>
    </div>
</div>                
{% endblock %}

